body {
  width: 100%;
  height: auto;
}

.page {
  color: #313131;
}

.section {
  width: 100%;
  padding: 80px calc((100% - 1220px) / 2);

  @media (max-width: 1920px) {
    padding-left: max(calc((100% - 1220px) / 2), 72px);
    padding-right: max(calc((100% - 1220px) / 2), 72px);
  }

  @media (max-width: 1024px) {
    padding: 36px;
  }

  @media (max-width: 568px) {
    padding: 18px;
  }
}

.section-title {
  max-width: min(806px, 100%);
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0;
  text-transform: uppercase;

  @media (max-width: 1024px) {
    font-size: 36px;
    line-height: 110%;
  }

  @media (max-width: 568px) {
    word-break: break-word;
  }
}

.scroll-hidden {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

/* colors */
.red {
  color: #f54932;
}
.blue {
  color: #3057a2;
}

/* displays */
.page .none {
  display: none;
}

.page .n-1024-max {
  @media (max-width: 1024px) {
    display: none;
  }
}

.page .n-768-max {
  @media (max-width: 768px) {
    display: none;
  }
}

.page .n-768-min {
  @media (min-width: 768px) {
    display: none;
  }
}

.page .n-769-min {
  @media (min-width: 769px) {
    display: none;
  }
}

/* text */
.crossedout {
  margin-right: 12px;
  position: relative;
  display: inline-block;
}

.crossedout:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: #f54932;
}
