.section-3 {
  overflow: hidden;
  margin-bottom: 200px;

  @media (max-width: 1024px) {
    margin-bottom: 120px;
  }
}

.section3-title {
  margin-bottom: 54px;
  display: inline-block;

  @media (max-width: 768px) {
    margin-bottom: 134px;
  }
}

.section3-title-description {
  margin-left: 10px;
  display: inline-block;
  max-width: 280px;

  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: none;

  @media (max-width: 768px) {
    max-width: 100%;
    height: 2rem;
  }
}

.section3-content {
  position: relative;

  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.section3-list {
  counter-reset: item;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "el1 el2 el3" "el4 el5 el3" "el6 el7 el7";
  row-gap: 20px;
  column-gap: 20px;

  @media (max-width: 1024px) {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "el1 el2" "el3 el4" "el5 el6" "el7 el7";
    row-gap: 20px;
    column-gap: 20px;
  }
}

.section3-element {
  padding: 20px 20px 20px 72px;
  position: relative;
  background-image: url("../assets/images/section3-item-bg.png");
  background-repeat: repeat;
  background-position: left top;
  background-size: initial;
}

.section3-element:before {
  content: counter(item);
  counter-increment: item;

  position: absolute;
  left: 20px;
  top: 20px;

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  background-color: #ffffff;
}

.section3-element:last-child {
  padding-right: 308px;
}

.section3-img {
  position: absolute;
  right: -62px;
  bottom: 0;
  width: 376px;
  height: auto;
  object-fit: contain;

  @media (max-width: 1024px) {
    width: auto;
    height: 184px;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 184px;
    top: -120px;
    right: 50%;
    transform: translateX(50%);
    animation: animation-plane 1s ease-out;
  }
}

.section3-img._animate {
  transform: translateX(-150%);
  animation: animation-plane-out 1s ease-in;
}

.section3-element:nth-child(1) {
  grid-area: el1;
}

.section3-element:nth-child(2) {
  grid-area: el2;
}

.section3-element:nth-child(3) {
  grid-area: el3;
}

.section3-element:nth-child(4) {
  grid-area: el4;
}

.section3-element:nth-child(5) {
  grid-area: el5;
}

.section3-element:nth-child(6) {
  grid-area: el6;
}

.section3-element:nth-child(7) {
  grid-area: el7;
}

@keyframes animation-plane {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes animation-plane-out {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-150%);
  }
}
