.section-3 {
  overflow: hidden;
}

.section3-title {
  margin-bottom: 54px;
  display: inline-block;

  @media (max-width: 1024px) {
    margin-bottom: 134px;
  }
}

.section3-title-description {
  margin-left: 10px;
  display: inline-block;
  max-width: 280px;

  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: none;

  @media (max-width: 768px) {
    max-width: 100%;
    height: 2rem;
  }
}

.section3-slider {
  position: relative;
}

.section3-list {
  counter-reset: item;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "el1 el2 el3" "el4 el5 el3" "el6 el7 el7";
  row-gap: 20px;
  column-gap: 20px;

  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;

  @media (max-width: 1024px) {
    width: 100%;
    overflow-x: scroll;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "el1 el3 el4 el6 el7" "el2 el3 el5 el6 el7";
    row-gap: 0;
    column-gap: 40px;
  }
}

.section3-element {
  padding: 20px 20px 20px 72px;
  position: relative;
  background-image: url("../assets/images/section3-item-bg.png");
  background-repeat: repeat;
  background-position: left top;
  background-size: initial;

  @media (max-width: 1024px) {
    width: 100%;
    min-width: min(335px, calc(100vw - 36px));
    padding-top: 62px;
  }
}

.section3-element:before {
  content: counter(item);
  counter-increment: item;

  position: absolute;
  left: 20px;
  top: 20px;

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  background-color: #ffffff;
}

@media (max-width: 1024px) {
  .section3-element:before {
    top: 62px;
  }
}

.section3-element:last-child {
  padding-right: 308px;

  @media (max-width: 1024px) {
    padding-right: 20px;
  }
}

.section3-img {
  position: absolute;
  right: -62px;
  bottom: 0;
  width: 376px;
  height: auto;
  object-fit: contain;

  @media (max-width: 1024px) {
    top: -122px;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    height: 184px;
  }
}

.section3-element:nth-child(1) {
  grid-area: el1;
}

.section3-element:nth-child(2) {
  grid-area: el2;

  @media (max-width: 1024px) {
    padding-top: 0;
  }
}

@media (max-width: 1024px) {
  .section3-element:nth-child(2):before {
    top: 0;
  }
}

.section3-element:nth-child(3) {
  grid-area: el3;

  @media (max-width: 1024px) {
    min-height: 300px;
  }
}

.section3-element:nth-child(4) {
  grid-area: el4;
}

.section3-element:nth-child(5) {
  grid-area: el5;

  @media (max-width: 1024px) {
    padding-top: 0;
  }
}

@media (max-width: 1024px) {
  .section3-element:nth-child(5):before {
    top: 0;
  }
}

.section3-element:nth-child(6) {
  grid-area: el6;
}

.section3-element:nth-child(7) {
  grid-area: el7;
}
